<div class="container-fluid capa capa-prods">
    <div class="tit-div mb-5">
        <h2 class="title"><a class="border-top border border-light border-left rounded">_ @ViewData["Title"] _ </a></h2>
    </div>
</div>
<h5 class="text-light text-center text-capitalize mb-1 mt-1 nav-link w-100 bg-dark">suas opções</h5>
<main class="container-fluid w-100 mt-3 mb-5">
    <div class="container">
        <a href="/Pessoa/CadastroPessoa">
            <div class="row mt-4">
                <div class="card bg-dark text-white zoom">
                    <img class="card-img" src="~/images/cadastrar-capa.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="nav-link bg-dark pl-4 txt-diminui">cadastrar Pessoa</h5>
                        <p class="bg-light w-75 text-dark p-2 esconde">Clique aqui para cadastrar Novas Pessoas no nosso sistema.</p>
                    </div>
                </div>
            </div>
        </a>

        <a href="/Pessoa/ListarPessoas">
            <div class="row mt-4">
                <div class="card bg-dark text-white zoom">
                    <img class="card-img" src="~/images/listar-capa.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="nav-link bg-dark pl-4 txt-diminui">Listar pessoas</h5>
                        <p class="bg-light w-75 text-dark p-2 esconde">Clique aqui para ver uma lista de pessoas que já estão cadastradas no nosso sistema.</p>
                    </div>
                </div>
            </div>
        </a>

    </div>
</main>
