@model List<Pessoa>

<div class="container-fluid capa capa-listar">
    <div class="tit-div mb-5">
        <h2 class="title"><a class="border-top border border-light border-left rounded">_ @ViewData["Title"] _ </a></h2>
    </div>
</div>

<h5 class="text-light text-center text-capitalize mb-1 mt-1 nav-link w-100 bg-dark">cadastros</h5>

<main class="container-fluid w-100">
    <div class="container">
        <div class="row formshow p-3 rounded">

            <table class="table table-hover tab">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Nome</td>
                            <td>@item.Email</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>